@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/days');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$poppins: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;
$days: 'Days', sans-serif;
$nunito: 'Nunito', sans-serif;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  .content{
    width: 80%;
    margin: 0 auto;
    h1{
      font-family: $days;
      color: #fff;
      font-size: 40px;
      background-color: rgba(240, 6, 41, 0.6);
      padding: 15px;
      display: inline;
      letter-spacing: 2px;
      font-weight: 600;
    }
    .sec-content{
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .paragraph{
        flex-basis: 55%;
        width: 55%;
        p{
          color: #fff;
          background-color: rgba(43, 42, 41, 0.6);
          font-family: $inter;
          padding: 10px;
          margin-bottom: 10px;
        }
      }
      .table{
        display: flex;
        overflow: hidden;
        h6{
          font-family: $poppins;
          text-align: center;
          font-size: 16px;
          color: #fff;
          padding: 12px 30px;
        }
        h6:not(:last-child){
          border-bottom: 0.5px solid #fff;
        }
        .what{
          background-color: rgba(240,6,41,0.6);
          border-radius: 20px 0 0 20px;
          h6{
            font-weight: 600;
          }
        }
        .price{
          background-color: rgba(106,101,92,0.6);
          border-radius: 0 20px 20px 0;
          h6{
            font-weight: 300;
            font-style: italic;
          }
        }
      }
    }
  }
}
header{
  height: 100vh;
  background: url("img/header-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    .hamburger{
      display: none;
    }
    img{
      width: 5%;
    }
    .links{
      ul{
        display: flex;
        align-items: center;
        li{
          list-style: none;
          margin-right: 35px;
          position: relative;
          a{
            color: white;
            text-decoration: none;
            font-family: $poppins;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
          }
          .fb{
            border: 2px solid #1771E6;
            padding: 15px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            transition: 0.5s;
            i{
              padding-right: 5px;
            }
          }
          .fb:hover{
            background: #1771E6;
          }
          a::after{
            content: "";
            height: 3px;
            width: 0;
            background-color: white;
            color: white;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: 0.5s;
          }
          a:not(.fb):hover::after{
            width: 100%;
          }
        }
      }
    }
  }
  .enter{
    display: grid;
    place-items: center;
    height: 100%;
    img{
      width: 40%;
    }
  }
}
main{
  #about{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 75px 0;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $poppins;
      flex-basis: 20%;
      text-align: center;
      i{
        font-size: 45px;
        padding-bottom: 5px;
      }
      span{
        font-weight: 600;
        font-size: 20px;
      }
      p{
        font-size: 13px;
      }
    }
  }
  #fitness{
    background: url("img/fitness-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
  }
  .transition{
    width: 100%;
    height: 10px;
    background-color: #000;
  }
  #box{
    background: url("img/boxing-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
  }
  #rozpis{
    padding: 100px 0;
    h1{
      font-family: $days;
      color: #000;
      font-size: 45px;
      padding: 15px;
      letter-spacing: 2px;
      font-weight: 600;
      text-align: center;
    }
    .content{
      display: flex;
      padding-top: 25px;
      div{
        flex-basis: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
        h4{
          color: #fff;
          font-family: $days;
          letter-spacing: 2px;
          font-size: 25px;
        }
        p{
          color: #fff;
          text-align: center;
          font-family: $nunito, sans-serif;
          font-weight: 700;
          padding-top: 15px;
          font-size: 15px;
          strong{
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }
      div:not(:last-child){
        margin-right: 30px;
      }
      div:nth-child(1){
        background: url("img/thaibox.jpg");
        background-size: cover;
        background-position: center;
      }
      div:nth-child(2){
        background: url("img/mma.jpg");
        background-size: cover;
        background-position: center;
      }
      div:nth-child(3){
        background: url("img/boxing.jpg");
        background-size: cover;
        background-position: center;
      }
    }
  }
}
footer{
  background: linear-gradient(rgba(38, 38, 38, 0.8), rgb(38, 38, 38, 0.8)) ,url("img/footer-bg.png");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: #fff;
  .content{
    display: flex;
    justify-content: space-around;
    font-family: $poppins;
    align-items: center;
    .contact{
      display: flex;
      flex-direction: column;
      p{
        display: flex;
        align-items: center;
        i{
          padding-right: 10px;
        }
        a{
          color: #fff;
        }
      }
      address{
        margin: 30px 0;
      }
    }
    .where{
      h3{
        padding-bottom: 10px;
      }
      iframe{
        border-radius: 10px;
        width: 400px;
        height: 300px;
      }
    }
  }
  .partners{
    margin-top: 50px;
    h2{
      text-align: center;
      font-family: $poppins;
    }
    .items{
      display: flex;
      justify-content: center;
      padding-top: 25px;
      a{
        flex-basis: 15%;
        border-radius: 9999px;
        img{
          border-radius: 9999px;
          width: 100%;
        }
      }
      a:not(:last-child){
        margin-right: 40px;
      }
    }
  }
}

@media only screen and (max-width: 970px) {
  body{
    .content{
      .sec-content{
        .paragraph{
          width: 100%;
          p{
            text-align: center;
          }
        }
        .table{
          margin: 20px 0;
          h6{
            padding: 12px 15px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  header{
    position: relative;
    nav{
      display: flex;
      justify-content: space-between;
      .hamburger{
        display: initial;
        i{
          color: #fff;
          font-size: 40px;
        }
      }
      img{
        display: none;
      }
      .links{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        background-color: rgba(0,0,0,0.3);
        height: 100vh;
        padding-top: 40px;
        transition: 0.5s;
        ul{
          flex-direction: column;
          align-items: flex-end;
          li{
            margin-bottom: 10px;
            .fb{
              padding: 0;
              background: none;
              border: none;
              color: #649dee;
              i{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  main{
    #about{
      flex-wrap: wrap;
      justify-content: center;
      .item{
        flex-basis: 33%;
        margin-bottom: 25px;
      }
    }
    #rozpis{
      .content{
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        div{
          flex-basis: 100%;
          margin: 0 0 30px;
        }
        div:not(:last-child){
          margin-right: 0px;
        }
      }
    }
  }
  footer{
    .content{
      flex-direction: column;
      align-items: center;
      .contact{
        margin-bottom: 50px;
        align-items: center;
        address{
          text-align: center;
        }
        .opening-time{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  body{
    .content{
      .sec-content{
        flex-direction: column;
        .table{
          h6{
            padding: 12px 30px;
          }
        }
      }
    }
  }
  header{
    .enter{
      img{
        width: 60%;
      }
    }
  }
}
@media only screen and (max-width: 520px) {
  header{
    nav{
      padding: 20px 30px;
      .hamburger{
        i{
          color: #fff;
          font-size: 40px;
        }
      }
    }
  }
  main{
    #about{
      .item{
        flex-basis: 50%;
      }
    }
  }
  footer{
    .content{
      .where{
        iframe{
          width: 100%;
        }
      }
    }
    .partners{
      width: 80%;
      margin: 0 auto;
      padding-top: 50px;
      .items{
        a{
          flex-basis: 33%;
          width: 50%;
        }
        a:not(:last-child){
          margin-right: 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 410px) {
  body{
    .content{
      .sec-content{
        .table{
          .what{
            border-radius: 10px 0 0 10px;
          }
          .price{
            border-radius: 0 10px 10px 0;
          }
          h6{
            padding: 12px 5px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  header{
    .enter{
      img{
        width: 80%;
      }
    }
  }
  main{
    #about{
      .item{
        flex-basis: 100%;
      }
    }
  }
}
