
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800;900&display=swap');

$poppins: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;
$days: 'Days One', sans-serif;
$nunito: 'Nunito', sans-serif;
$work-sans: 'Work Sans', sans-serif;
$franklin: 'Libre Franklin', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
body{
  .facebook{
    position: fixed;
    z-index: 500;
    bottom: 0;
    margin: 15px 30px;
    transition: 0.3s;
    img{
      width: 130%;
      filter: drop-shadow(3px 3px 3px #000);
    }
  }
  .facebook:hover{
    bottom: 1.5%;
  }
  .content{
    width: 85%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      font-family: $days;
      color: #fff;
      font-size: 2.5rem;
      padding-bottom: 10px;
      letter-spacing: 2px;
      font-weight: 600;
    }
    .sec-content{
      order: 100;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      .paragraph{
        p{
          color: #fff;
          font-family: $inter;
          margin-bottom: 10px;
        }
      }
    }
    table{
      order: 200;
      th,td{
        color: #fff;
        font-family: $poppins;
        padding: 10px 30px;
        text-align: center;
        height: 100%;
      }
      td:last-child{
        font-style: italic;
        font-weight: 300;
      }
      tr td:first-child, th:first-child{
        background-color: rgba(240,6,41,0.7);
        font-weight: 600;
      }
      tr td:last-child, th:last-child{
        background-color: rgba(106,101,92,0.7);
      }
    }
  }
}
header{
  height: 50vh;
  background: url("../img/header-bg.jpg") fixed;
  background-size: cover;
  nav{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
    padding: 10px 75px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    .hamburger{
      display: none;
    }
    .logo{
      width: 3%;
      z-index: 100;
      display: flex;
      align-items: center;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .links{
      transition: 0.5s;
      ul{
        display: flex;
        align-items: center;
        li{
          list-style: none;
          margin-right: 35px;
          position: relative;
          a{
            color: white;
            text-decoration: none;
            font-family: $poppins;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
          }
          .fb{
            display: flex;
            align-items: center;
            img{
              width: 80%;
            }
          }
          a::after{
            content: "";
            height: 2px;
            width: 0;
            background-color: white;
            color: white;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: 0.5s;
          }
          a:not(.fb):hover::after{
            width: 100%;
          }
        }
      }
    }
  }
  .enter{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 30%;
    }
  }
}
main{
  #about{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 0;
    align-items: flex-end;
    height: 100%;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $poppins;
      flex-basis: 20%;
      text-align: center;
      background: rgba(255,255,255,0.5);
      border-radius: 10px;
      i{
        font-size: 45px;
        padding-bottom: 5px;
      }
      span{
        font-weight: 600;
        font-size: 20px;
      }
      p{
        font-size: 13px;
      }
    }
  }

  hr{
    width: 80%;
    margin: 0 auto;
  }
  #fitness{
    background: url("../img/fitness-bg.jpg") fixed center;
    background-size: cover;
    padding: 100px 0;
    .sec-content{
      padding-right: 50px;
    }
  }
  .transition{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    font-family: $work-sans;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 30px;
    font-size: 28px;
    position: relative;
    hr{
      width: 18%;
      height: 2px;
      color: white;
      border: none;
      background-color: black;
      border-radius: 9999px;
    }
  }
  #box{
    background: url("../img/boxing-bg.jpg") fixed center;
    background-size: cover;
    padding: 100px 0;
    .sec-content{
      order: 300;
      padding-left: 50px;
      text-align: right;
    }
  }
  #rozpis{
    background: url("../img/2.jpeg") top;
    background-size: cover;
    padding: 50px 0;
    .content{
      display: flex;
      justify-content: space-around;
      color: #fff;
      hr{
        height: 100%;
        width: 2px;
      }
      div{
        text-align: center;
      }
    }
  }
  #slideshow{
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    h1{
      font-family: $days;
      color: #fff;
      font-size: 45px;
      padding: 15px;
      letter-spacing: 2px;
      font-weight: 500;
      text-align: center;
    }
    .slider {
      width: 50%;
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0px 0px 24px 3px #000000;
      .slides {
        display: flex;
        width: 400%;
        height: 100%;
        transition: 1s;

        .slide {
          width: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      .left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      .right i,
      .left i {
        font-size: 50px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7);
        transition: 0.5s;
      }

      .right i:hover,
      .left i:hover {
        color: rgba(255, 255, 255, 0.5)
      }
    }
  }
}
footer{
  background: linear-gradient(rgba(38, 38, 38, 0.8), rgb(38, 38, 38, 0.8)) ,url("../img/footer-bg.png") center;
  background-size: cover;
  padding: 100px 0 50px;
  color: #fff;
  .content{
    display: flex;
    justify-content: space-around;
    font-family: $poppins;
    align-items: center;
    .contact{
      display: flex;
      flex-direction: column;
      p{
        display: flex;
        align-items: center;
        i{
          padding-right: 10px;
        }
        a{
          color: #fff;
        }
      }
      address{
        margin: 30px 0;
      }
    }
    .where{
      h2{
        padding-bottom: 10px;
      }
      iframe{
        border-radius: 10px;
        width: 400px;
        height: 300px;
      }
    }
  }
  .partners{
    margin-top: 50px;
    h2{
      text-align: center;
      font-family: $poppins;
    }
    .items{
      display: flex;
      justify-content: center;
      padding-top: 25px;
      a{
        flex-basis: 15%;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        text-align: center;
        img{
          border-radius: 9999px;
          width: 80%;
        }
      }
      a:not(:last-child){
        margin-right: 40px;
      }
    }
  }
}
@import "queries";